body {
    background-color: rgb(102, 161, 161);
}

div {
    display: flex;
    align-items: center;
    justify-content: center;

}

div #form {
    padding: 50px;

    #inputvalue {
        border-radius: 10px;
        border: 2px solid black;
        outline: 4px;
    }

    #inputvalue:focus {
        outline: 0px;
    }

    button {
        height: 20px;
        width: 50px;
        background-color: aquamarine;
        border-radius: 5px;
        border: 1px solid black;
    }

    button:hover {
        background-color: rgb(22, 201, 141);
    }
}